[Unit]
Description=The Other Half OLED
Requires=dbus.service

[Service]
ExecStart=/home/nemo/test/toholed
#Restart=always
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/100000/dbus/user_bus_socket

[Install]
WantedBy=multi-user.target
