[Unit]
Description=The Other Half OLED
After=dbus.service
After=tohd.service

[Service]
ExecStart=/usr/sbin/toholed
Restart=always
RestartSec=5
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/100000/dbus/user_bus_socket

[Install]
WantedBy=multi-user.target
